<script type="text/javascript">
$(document).ready(function(){
	$('#alunos').click(function(){
		$.ajax({
			type:"post",
			url:"/liststudents",
			data:{

			},
			success:function(e){
				$('#subconteudo').empty().append(e);
			}
		});
	});
	
	$('#turmas').click(function(){
		$.ajax({
			type:"post",
			url:"/listgrades",
			data:{

			},
			success:function(e){
				$('#subconteudo').empty().append(e);
			}
		});
	});
	$('#relatorios').click(function(){
		$.ajax({
			type:"post",
			url:"/liststudentsreport",
			data:{

			},
			success:function(e){
				$('#subconteudo').empty().append(e);
			}
		});
	});
});
</script>
<div class="col-sm-12">
<div class="row">
<div class="navbar navbar-default col-sm-12"><img src="/logo.png" width="20%" class="col-sm-offset-5"><a href="?logout=ok" class="pull-right btn btn-default"><span class="fa fa-power-off"></span></a></div>
<div class="col-sm-2 without-padding">
	<ul class="nav nav-pills nav-stacked vertical-nav">
		<li><button type="button" id="alunos" class="btn btn-default btn-lg" <%='disabled' if session[:info_user]['level']==2%> onclick="$('.btn').addClass('btn-default').removeClass('btn-info'),$(this).addClass('btn-info')"><span class="fa fa-graduation-cap"></span> Alunos</button></li>
		<li><button type="button" id="turmas" class="btn btn-default btn-lg" <%='disabled' if session[:info_user]['level']==2%> onclick="$('.btn').addClass('btn-default').removeClass('btn-info'),$(this).addClass('btn-info')"><span class="fa fa-users"></span> Turmas</button></li>
		
		<li><button type="button"  id="relatorios" class="btn btn-default btn-lg" <%='disabled' if session[:info_user]['level']==2%> onclick="$('.btn').addClass('btn-default').removeClass('btn-info'),$(this).addClass('btn-info')"><span class="fa fa-file-text-o"></span> Relatórios</button></li>
	</ul>
</div>
<div class="col-sm-10">
	<div id="conteudo" class="container-fluid">
		<div id="subconteudo">
			<%if flash[:message]%>
				<div class="<%=flash[:type]%>"><%=flash[:message]%></div>
			<%end%>
			<%if session[:info_user]['level']==2%>
				<%=render template: 'dailies/index'%>
			<%end%>
		</div>
	</div>
</div>

</div>
</div>
<footer class="footer">
	<p class="container-fluid">
		Rodapé
	</p>
</footer>
