<script type="text/javascript">
$(document).ready(function(){
	$('select[name="dailies[discipline]"]').attr('disabled',true);
	$('select[name="dailies[grade]"]').change(function(){
		if($(this).val()!=0){
			$('select[name="dailies[discipline]"]').attr('disabled',false);
			if($('select[name="dailies[discipline]"]').val()!=0){
					
						$.ajax({
							type:"get",
							url: "/listachamada",
							data:{
								grade: $('select[name="dailies[grade]"]').val(),
								discipline: $('select[name="dailies[discipline]"]').val()
							},
							beforeSend:function(){
								$('#spinner').show();
							},
							success:function(e){
								$('#spinner').hide();
								$('.lista-chamada').empty().append(e);
							}
						});
					
				
			}
		}else{
			$('select[name="dailies[discipline]"]').attr('disabled',true);
			$('select[name="dailies[discipline]"]').val('0');
		}
	});
	$('select[name="dailies[discipline]"]').change(function(){
		if($(this).val()!=0){
			$.ajax({
				type:"get",
				url: "/listachamada",
				data:{
					grade: $('select[name="dailies[grade]"]').val(),
					discipline: $('select[name="dailies[discipline]"]').val()
				},
				beforeSend:function(){
					$('#spinner').show();
				},
				success:function(e){
					$('#spinner').hide();
					$('.lista-chamada').empty().append(e);
				}
			});
		}
	});
});
</script>
<div class="col-sm-12">
<div class="row"> 
	<h1 class="col-sm-offset-3">CHAMADA - <%=Date.today.strftime("%d/%m/%Y")%></h1>
</div>

	<div class="row">
		<div class="col-sm-3 col-sm-offset-2">
			<select class="form-control" name="dailies[grade]">
				<option value="0">--TURMA--</option>
				<%Grade.all.each do |param|%>
				<option value="<%=param.id%>"><%=param.name%></option>
				<%end%>
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-control" name="dailies[discipline]">
				<option value="0">--DISCIPLINA--</option>
				<%Discipline.all.each do |param|%>
				<option value="<%=param.id%>"><%=param.name%></option>
				<%end%>
			</select>
		</div>
		<div class="col-sm-3" style="display:none" id="spinner">
			<span style="color: red" class="disabled fa fa-spin fa-refresh"></span> <label>carregando...</label>
		</div>
	</div>
	<hr>
	<div class="row lista-chamada">
		
	</div>

</div>